<!DOCTYPE html>
<html>
{% extends 'base.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css/'%}" />
</head>

<body>

 {% csrf_token %}
    {% block content %}
        <h1> Add new flower </h1>
        <form method="POST">
            <!---add csrf token --->
            Title: <input type="text" name="name" /> <br/>
            Description: <input type="text" name="description" /> <br/>
            Frequency: <input type="number" name="frequency" /> <br/>
            Amount: <input type="number" name="amount" /> <br/>
            Last Watering: <input type="date" name="last_watering" /> <br/>
            <input type="submit" value="Post">
        </form>
    {% endblock %}
</body>
</html>