<!DOCTYPE html>
 {% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css/'%}" />
</head>

<body>
{% block nav %}
{% csrf_token %}
<ul>
    <li><a class="" href = "/flower_app/addflower/"> Add flower </a></li>
    <li><a class="" href = "/flower_app/deleteflower/"> Delete flower </a></li>
    <li><a class="" href = "/flower_app/updateflower/"> Update flower </a></li>
    {% if user.is_authenticated %}
        <li><a class="" href = "/flower_app/logout_user/"> Logout </a></li>
    {% else %}
    <li><a class="" href = "/flower_app/login_user/"> Login </a></li>
    {% endif %}
</ul>
{% endblock %}

</body>
</html>