<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Create a post </h1>
<form method="POST">
    <!---add csrf token --->
    Which flower do you want to delete: <input type="text" name="name" /> <br/>
    Description: <input type="text" name="description" /> <br/>
    Frequency: <input type="number" name="frequency" /> <br/>
    Amount: <input type="number" name="amount" /> <br/>
    Last Watering: <input type="date" name="last_watering" /> <br/>
    <input type="submit" value="Post">
</form>

</body>
</html>
</body>
</html>