<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
<!--- <h1>Add new flower</h1>
<form action="Flower()" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name" required/> <br/>

    <label for="description">Description: </label>
    <input id="description" type="text" name="description" required/> <br/>

    <label for="frequency">Frequency: </label>
    <input id="frequency" type="number" name="frequency" required/> <br/>

    <label for="amount">Amount: </label>
    <input id="amount" type="number" name="amount" required/> <br/>

    <label for="last_watering">Last watering: </label>
    <input id="last_watering" type="DATE" name="last_watering" required/> <br/>

    <label for="next_watering">Next watering: </label>
    <input id="next_watering" type="DATE" name="next_watering" required/> <br/>
    <input type="submit" value="add"/> --->

<h1> Create a post </h1>
<form method="POST">
    // add csrf token
    Title: <input type="text" name="name" /> <br/>
    Description: <input type="text" name="description" /> <br/>
    Frequency: <input type="number" name="frequency" /> <br/>
    Amount: <input type="number" name="amount" /> <br/>
    Last Watering: <input type="date" name="last_watering" /> <br/>
    Next_watering: <input type="date" name="next_watering" /> <br/>
    <input type="submit" value="Post">
</form>

</body>
</html>