<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Update flower</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css/'%}" />
</head>
<body>
{% csrf_token %}
    {% block content %}
        <h1> Flower In Database:  </h1>
            <table class = "table table-dark">
                <tr>
                    <th scope = 'col'> Name </th>
                    <th scope = 'col'> Description </th>
                    <th scope = 'col'> Frequency </th>
                    <th scope = 'col'> Amount </th>
                    <th scope = 'col'> Last Watering </th>
                    <th scope = 'col'> Next Watering </th>
                </tr>
                {% for f in flower_number %}
                <tr>
                    <td> {{ f.name }} </td>
                    <td> {{ f.description }}</td>
                    <td> {{ f.frequency }}</td>
                    <td> {{ f.amount }}</td>
                    <td> {{ f.last_watering }}</td>
                    <td> {{ f.next_watering }}</td>
                </tr>
            <br />
            {% endfor %}
            </table>
<form method = "POST">
    Which one do you want to update?<br/>
    <input type="text" name="name" placeholder="NAME"/> <br/>
    <input type="text" name="description" placeholder="description"/> <br/>
    <input type="submit" value="Post" />
</form>
    {% endblock %}

</body>
</html>