<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update flower</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css/'%}" />
</head>
<body>
<ul>
    <li><a class="" href = "/flower_app/addflower/"> Add flower </a></li>
    <li><a class="" href = "/flower_app/deleteflower/"> Delete flower </a></li>
    <li><a class="" href = "/flower_app/updateflower/"> Update flower </a></li>
    {% if user.is_authenticated %}
        <li><a class="" href = "/flower_app/login_user/"> Logout </a></li>
    {% else %}
    <li><a class="" href = "/flower_app/login_user/"> Login </a></li>
    {% endif %}
</ul>
{% csrf_token %}
<h1> Update flower:  </h1>
    <table>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> Frequency </th>
            <th> Amount </th>
            <th> Last Watering </th>
            <th> Next Watering </th>
        </tr>
        {% for f in flower_number %}
        <tr>
            <td> {{ f.name }} </td>
            <td> {{ f.description }}</td>
            <td> {{ f.frequency }}</td>
            <td> {{ f.amount }}</td>
            <td> {{ f.last_watering }}</td>
            <td> {{ f.next_watering }}</td>
        </tr>
    <br />
    {% endfor %}
    </table>
<form method = "POST">
    Which one do you want to update?<br/>
    <input type="text" name="name" /> <br/>

    <input type="submit" value="Post" />
</form>
</body>
</html>